
body {
    height: 100%;
    display: grid;
    grid-template-areas:
        'a a'
        'c b'
        'd d';
    grid-template-rows: 50px auto 50px;
    grid-template-columns: 1fr 4fr;
    grid-gap: 5px;
}


header {
    grid-area: a;
}
div {
    grid-area: b;
}
.Kaire {
    grid-area: c;
}
footer {
    grid-area: d;
}

/* Extra maži įrenginiai (telefonai, 600px ir žemiau) */
@media only screen and (max-width: 600px) {
    header {
        background-color: lightgrey;
    }
    aside {
        background-color: lightyellow;
    }
    div {
        background-color: lightskyblue;
    }
    footer {
        background-color: slategrey;
    }
    body {
        display: grid;
        grid-template-areas:
            'a'
            'c'
            'b'
            'd';
        grid-template-rows: 50px 50px auto 50px;
        grid-template-columns: 5fr;
    }
}
/* Maži įrenginiai (statmenos planšetės, ar gulsti telefonai 600px ir aukščiau) */
@media only screen and (min-width: 600px) {
    header {
        background-color: lightgrey;
    }
    aside {
        background-color: lightyellow;
    }
    div {
        background-color: lightskyblue;
    }
    footer {
        background-color: slategrey;
    }
    body {
        display: grid;
        grid-template-areas:
            'a'
            'c'
            'b'
            'd';
        grid-template-rows: 50px 50px auto 50px;
        grid-template-columns: 5fr;
    }
}
/* Vidutiniai įrenginiai (gulsčios planšetės ar maži laptopai, 768px ir aukščiau) */
@media only screen and (min-width: 768px) {
    header {
        background-color: lightgrey;
    }
    aside {
        background-color: lightyellow;
    }
    div {
        background-color: lightskyblue;
    }
    footer {
        background-color: slategrey;
    }
    body {
        height: 100%;
        display: grid;
        grid-template-areas:
            'a a'
            'c b'
            'd d';
        grid-template-rows: 50px auto 50px;
        grid-template-columns: 1fr 4fr;
    }
}
/* Dideli įrenginiai (laptopai, staliniai PC, 992px ir aukščiau) */
@media only screen and (min-width: 992px) {
    header {
        background-color: lightgrey;
    }
    aside {
        background-color: lightyellow;
    }
    div {
        background-color: lightskyblue;
    }
    footer {
        background-color: slategrey;
    }
    body {
        height: 100%;
        display: grid;
        grid-template-areas:
            'a a'
            'c b'
            'd d';
        grid-template-rows: 50px auto 50px;
        grid-template-columns: 1fr 4fr;
    }
}
/* Extra dideli įrenginiai (dideli laptopai ir stalinai PC, 1200px ir aukščiau) */
@media only screen and (min-width: 1200px) {
    header {
        background-color: lightgrey;
    }
    aside {
        background-color: lightyellow;
    }
    div {
        background-color: lightskyblue;
    }
    footer {
        background-color: slategrey;
    }
    body {
        height: 100%;
        display: grid;
        grid-template-areas:
        'a a'
        'c b'
        'd d';
        grid-template-rows: 50px auto 50px;
        grid-template-columns: 1fr 4fr;
    }
    aside {
        display: block;
    }
}