p{color: black}
li:nth-child(3) {color:red}
.elementas {color: blue}
header {
    background-color: pink;
}
aside{background-color: green;}
main {background-color: yellow;}
footer {background-color: grey;}